{% extends "base.html" %}

{% block title %}CheckOut{% endblock %}
{% block content %}
<ul class="list-group">
    {% for item in data %}
    
    <li class="list-group-item"><div class="row"><div class="col"><a href="{{url_for('itemInfo',name=item['ItemName'])}}">{{item['ItemName']}}</a> {{item['price']}} {{item['Amount']}}</div><div class="col"><form action="{{url_for('Delete')}}" name="CheckOut" method="POST">
          <input type="hidden" name="Delete" value="{{item['ItemName']}}">
          <button type="submit" name="Remove" formaction="{{url_for('Delete')}}"formmethod="POST">Delete</button>
        </form></div>
      </div></li>
    {% endfor %}
  </ul>
    <form action="{{url_for('CheckOut')}}" name="CheckOut" method="post">
      <button type="submit" name="Buy" formaction="{{url_for('CheckOut')}}">Confirm Purchases</button>
      <button type="submit" name="Buy" formaction="{{url_for('ViewStore')}}"formmethod="GET">Continue Shopping</button>
    </form>
    {% endblock %}
