{% extends "base.html" %}

{% block title %}New User{% endblock %}


{% block content %}
    <form class="form-group" action="{{url_for('login')}}" method="post">
    <label for="username">Username</label>
    <input type="text" id="username" name="username"/>
    <label for="password" >Password</label>
    <input type="password" name="password" id="password">
    <input type="submit" value="Submit" >
    </form>

    <a href="{{url_for('NewUser')}}" >New User</a>

   <script src="static/scripts.js"></script>
{% endblock %}
